body{
    height:100%;
    position: relative;
    margin: 0px;
    background-size: cover;
    background-color: #F2F2F2;
}
 
.wrap{
  min-height:100%;
  position: relative;
}
 
.header{
    position: relative;
    /*margin-top: -90px;*/
    /*margin-left: 20px;
    background-color: white;*/
    width: 100%;
    height: 10%;
    background: url(../img/logoInsa.png) no-repeat;
    background-size: 379px 80px;
    background-position-x: 5%;
}
.main{
    position: relative;
    min-height: 100%;
    padding-bottom: 10%;
    padding-top: 3%
}
.footer{
    height: 3em;
    position: absolute;
    bottom: 0;
    background: #CC3300;
    color: white;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: arial;
    text-align-last: center;
    line-height: 1.3;
    text-decoration: none;
    text-shadow: -1px 0 dark, 0 1px dark, 1px 0 dark, 0 -1px dark;
}

hr {
    border: 1px #555 solid;
    box-shadow: 0px 2px 2px #333;
    margin-top: 5%;
}
#content .item {
    font-family: fantasy;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px #aaa inset;
    background-color: #efefef;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 10%;
    overflow: hidden;
}

#container1 {
    width: 80%;
    height: 450px;
    background: no-repeat;
    background-size: 100%;
    /*test*/
}

#container {
    width: 90%;
    text-align: left;
    margin: 0 auto;
}

#left {
    float:left;
    width:60%;
}    

#right {
    float: right;
    width: 30%;
}

.bloc{
    font-family: arial;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px black inset;
    background-color: #D0D0D0;
    border-radius: 20px;
    padding: 2%;
}

.corpsTexte{
    position: relative;
    text-indent: 2%;
}

.infoComp{
}

#topMenu{
    padding: 0;
    margin: 3%;
    list-style: none;
    text-align: right;
    display: block;
}
#topMenu li{
    text-align: center;
    display: inline-block;
    position: relative;
    top: 20px;
}
#topMenu ul li{
    display: inherit;
    border-radius: 0;
}
#topMenu ul li:hover{
    border-radius: 0;
}
#topMenu ul{
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: .8s all .3s;
    top: 0;
    padding: 20px 0;
}
#topMenu li:hover ul{
    max-height: 15em;
}
/* background des liens menus */
#topMenu li{
    background-color: #CC3300;
}
#topMenu li:hover, #topMenu li:hover{
    background: grey;
}
/* les a href */
#topMenu a{
    text-decoration: none;
    display: block;
    padding: 8px 32px;
    color: white;
    font-family: arial;
}
#topMenu ul a{
    padding: 8px 0;
}
#topMenu li:hover li a{
    color: white;
    text-transform: inherit;
}
#topMenu li:hover a, #topMenu li li:hover a{
    color: white;
}

.footer #lienFoot{
    text-decoration: none;
}
